<%= form_with(model: pomodoro_memo, local: true) do |form| %>
  <% if pomodoro_memo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pomodoro_memo.errors.count, "error") %> prohibited this pomodoro_memo from being saved:</h2>

      <ul>
      <% pomodoro_memo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :memo %>
    <%= form.text_area :memo %>
  </div>

  <div class="field">
    <%= form.label :pomodoro_task_id %>
    <%= form.number_field :pomodoro_task_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
