<p id="notice"><%= notice %></p>

<h1>Pomodoro Memos</h1>

<table>
  <thead>
    <tr>
      <th>Memo</th>
      <th>Pomodoro task</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pomodoro_memos.each do |pomodoro_memo| %>
      <tr>
        <td><%= pomodoro_memo.memo %></td>
        <td><%= pomodoro_memo.pomodoro_task_id %></td>
        <td><%= link_to 'Show', pomodoro_memo %></td>
        <td><%= link_to 'Edit', edit_pomodoro_memo_path(pomodoro_memo) %></td>
        <td><%= link_to 'Destroy', pomodoro_memo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pomodoro Memo', new_pomodoro_memo_path %>
