<%= form_with(model: pomodoro_task, local: true) do |form| %>
  <% if pomodoro_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pomodoro_task.errors.count, "error") %> prohibited this pomodoro_task from being saved:</h2>

      <ul>
      <% pomodoro_task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :objective %>
    <%= form.text_field :objective %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
