<p id="notice"><%= notice %></p>

<p>
  <strong>Objective:</strong>
  <%= @pomodoro_task.objective %>
</p>

<p>
  <strong>User:</strong>
  <%= @pomodoro_task.user_id %>
</p>

<%= link_to 'Edit', edit_pomodoro_task_path(@pomodoro_task) %> |
<%= link_to 'Back', pomodoro_tasks_path %>
